/* .cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
} */

.cards {
    position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, minmax(min-content, 350px));
  grid-gap: 2px;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* min-width: 0; */
  /* grid-template-columns:repeat(auto-fit, minmax(20rem, 1fr));
   */
  width: 90vw;
  max-width: 100%;
  min-height: 90%;
}

.card {
  align-items: center;
  background-color: #efeded;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  padding-bottom: 40px;
  text-align: center;
  min-width: 0;
  height: 380px;
  /* min-height: 0;
  max-height: 100%; */
}

  .active {
    background-color: #2160FF;
    color: white;
    box-shadow: 15px 20px 5px 5px #ebeaea;
    transform: translateY(-15px);
  }

  .active .button-action {
      background-color: white;
      color: black;
    }

h2 {
  font-weight: bold;
}

.card ul {
  list-style-type: none;
  padding: 0px;
  margin-bottom: 40px;
}

li {
  padding: 10px;
}

li .fa-check {
  margin-right: 10px;
  color: #90EE90;
  font-weight: light;
}

@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
    width: 90vw;
    top: 80px;
  }
  .card {
    height: 385px;
  }
  .active {
    box-shadow: 1px 20px 5px -4px #ebeaea;
  }

   .button-action {
    padding: 15px 30px !important;
  }

  .box {
    height: 220vh !important;
  }

  .container {
    height: 94% !important;
    margin: 20px !important;
  }

  .container:after {
    width: 81px;
    height: 92px;
    top: -144px !important;
  }
}

@media (orientation: landscape) and (max-width: 670px) {
  .container {
    height: 96% !important;
  }

  .container:after {
    width: 141px !important;
    height: 158px !important;
    left: -93px !important;
    top: -123px !important;
  }

  .cards {
    top: 60px;
  }

  .button-action {
    padding: 15px 10px !important;
  }

  .box {
    height: 150% !important;
  }

  .card {
    height: 450px;
  }

  .active {
    box-shadow: 16px 17px 5px 0px #ebeaea;
  }
}
@media (min-width: 574px) and (max-width: 780px) {
  .container {
    height: 88%;
    margin: 30px !important;
  }

  .container:after {
    left: -128px !important;
    top: -140px !important;
    width: 165px !important;
  }

  .card {
    height: 420px;
  }

  .button-action {
    padding: 10px 3px !important;
  }
  .card ul {
    margin-bottom: 16px;
}
  .active {
    box-shadow: 16px 17px 5px -2px #ebeaea;
  }
}

@media (min-width: 768px) {
  .card {
    height: 420px;
  }

  .button-action {
    padding: 15px 22px !important;
  }

  .active {
    box-shadow: 16px 20px 5px 2px #ebeaea;
  }
}

@media (orientation: landscape) and (min-width: 768px) {
  .cards {
    top: 64px;
  }

  .card {
    height: 374px;
  }

  .button-action {
    padding: 15px 22px !important;
  }

  .active {
    box-shadow: 14px 20px 5px 2px #ebeaea;
  }
}
